{% extends "layout.html" %}
{% block content %}
<div class="content-section">
   <h6> <b>Here are the important reasons why you must consider writing software applications in Python: </b> </h6> <br> 
  <p>
    <b> 1) Readable and Maintainable Code: </b> <br> <br>

    Python syntax rules allow you to express concepts without writing additional code. Python, is not like other
    programming languages and emphasizes on code readability, and allows you to use English keywords instead of
    punctuations. Thus, you can use Python to build custom applications without writing additional code. <br> <br>

    <b> 2) Compatible with Major Platforms and Systems: </b> <br> <br>

    Python supports many operating systems. You may even use Python interpreters to run the code on specific platforms
    and
    tools. Python also allows you to run the same code on multiple platforms without recompilation. Thus, you are not
    required to recompile the code after making any alteration. <br> <br>

   <b> 3) Robust Standard Library: <br></b> <br>

    It has a large and robust standard library thus making Python score over other programming languages. The standard
    Python library allows you to choose from a wide range of modules according to your precise needs. <br> <br>

    <b> 4) Many Open Source Frameworks and Tools: </b><br> <br>

    Python being an open source programming language thereby helps you to curtail software development cost
    significantly.
    You may even use several open source Python frameworks, libraries and development tools to curtail development time
    without increasing development cost. <br> <br>
  </p>
</div>
<div class="content-section">
  TEST <br>
  TEST
</div>


{% endblock content %}